<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549241961575-hlhr230h9j56jdtkha146vgpsl4dll8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549241961575-hlhr230h9j56jdtkha146vgpsl4dll8j</string>
	<key>API_KEY</key>
	<string>AIzaSyBo59twGZOhTzgiQ5x51pdNu3yF8Hl_MXw</string>
	<key>GCM_SENDER_ID</key>
	<string>549241961575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codermonkeys.arFurnitureApp</string>
	<key>PROJECT_ID</key>
	<string>ar-furniture-app-74112</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-furniture-app-74112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549241961575:ios:b631907da109c41519e8c2</string>
</dict>
</plist>